.App {
  text-align: center;
}
.label {
  margin-bottom: 0%;
  display: flex;
  justify-content: left;

}
.subLabel {
  color: grey;
  font-size: 68%;
  margin-left: 2%;
  width: 100%;
  display: inherit;
  justify-content: stretch;
  align-items: center;
}
.checkboxSubText{
  text-align: left;
}
.logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 5%

}

.App-header-title {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
